.main-motive {
  background-image: linear-gradient(5deg, #1e3557, #0c8d54);
}

.center-text{
  padding: .375rem 0;
}

.main-full-window{
  width: 100vw;
  height: 80vh;
}

.cutText{
  text-overflow: ellipsis;
  overflow: hidden;
}

.address{
  max-width: 0.8rem;
}

.edit-icon{
  width: 6.3rem;
}